<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/leads_logo.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='Install' %} class="active" {% endif %}><a href="https://www.docs.rcaide.leadsresearchgroup.com/install.html">Install</a></li>
                <li {% if page.sectionid=='Documentation' %} class="active" {% endif %}><a href="https://www.docs.rcaide.leadsresearchgroup.com">Documentation</a></li>
                <li {% if page.sectionid=='Github' %} class="active" {% endif %}><a href="https://github.com/leadsgroup/RCAIDE_LEADS">Github</a></li>
                <li {% if page.sectionid=='Community' %} class="active" {% endif %}><a href="{{ "/community/" | relative_url }}">Community</a></li>
                <li {% if page.sectionid=='Tutorials'%} class="active" {% endif %}><a href="https://www.docs.rcaide.leadsresearchgroup.com/tutorials.html">Tutorials</a></li>
                <li {% if page.sectionid=='GUI' %} class="active" {% endif %}><a href="{{ "/gui/" | relative_url }}">GUI</a></li>
                <li {% if page.sectionid=='About' %} class="active" {% endif %}><a href="https://www.leadsresearchgroup.com">About Us</a></li>
            </ul>
            <div class="navbar-right">
                <a class="uiuc-navbar-mark" href="https://illinois.edu/" aria-label="University of Illinois Urbana-Champaign">
                    <img src="{{ "/assets/img/uiuc-block-i.svg" | relative_url }}" alt="University of Illinois Block I">
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="https://x.com/leadsresearch" aria-label="X (formerly Twitter)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14" style="vertical-align:middle;"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-4.714-6.231-5.401 6.231H2.747l7.73-8.835L1.254 2.25H8.08l4.213 5.567 5.951-5.567zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg></a></li>
                    <li><a href="https://www.youtube.com/@LEADSresearch"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/leadsgroup"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
.navbar-default {
    min-height: 55px;
}

.navbar-brand {
    height: 15px;
    padding: 15px;
    margin-top: 5.5px;
}

.navbar-brand img {
    height: 45px;
    width: auto;
    margin-bottom: 40px;
}

.navbar-brand span {
    vertical-align: top;
    line-height: 50px;
    display: inline-block;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-toggle {
    margin-top: 10px;
}

.uiuc-navbar-mark {
    display: inline-flex;
    align-items: center;
    height: 55px;
    padding: 0 14px;
}

.uiuc-navbar-mark img {
    height: 42px;
    width: auto;
}

@media (max-width: 767px) {
    .uiuc-navbar-mark {
        display: none;
    }
}
</style>
